# Selecting Columns Lab

### Introduction

In this lesson, we'll get some practice working with the pandas library.  We'll use pandas to both load up our data and select specific columns.  We'll be doing so by working with some [real SAT data](https://data.cityofnewyork.us/Education/2012-SAT-Results/f9bf-2cp4) from New York City schools.

### Loading and Exploring the Data

Let's begin by loading our data into pandas and assigning it to the variable `high_school_df`.

> Pass the `url` to the `read_csv` method to load up the csv data into a dataframe.

In [3]:
import pandas as pd
url = 'https://raw.githubusercontent.com/jigsawlabs-student/decision-trees-intro/master/3-practical-ds-4/nyc_hs_sat.csv'
high_school_df = pd.read_csv()

> Press `shift + return` on the cell above. You should see that the first two rows look like those in the cell below.

In [ ]:
high_school_df[:2]
# 	dbn	name	num_test_takers	reading_avg	math_avg	writing_score	boro	total_students	graduation_rate	attendance_rate	college_career_rate
# 0	01M292	HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES	29.0	355.0	404.0	363.0	M	171	0.66	0.87	0.36
# 1	01M448	UNIVERSITY NEIGHBORHOOD HIGH SCHOOL	91.0	383.0	423.0	366.0	M	465	0.90	0.93	0.70

Ok, now let's take a look at the columns that were loaded.  Use the correct method to view the list of columns of the `high_school_df` dataframe.

In [1]:
df_cols = None

df_cols
# Index(['dbn', 'name', 'num_test_takers', 'reading_avg',
#        'math_avg', 'writing_score', 'boro', 'total_students',
#        'graduation_rate', 'attendance_rate', 'college_career_rate'],
#       dtype='object')

We can see some initial rows of data by applying the `slice` method, like we would in Python.

In [2]:
# high_school_df[:3]

Now let's practice selecting columns from our pandas dataframe.  Begin by selecting the `name` column from the `high_school_df` dataframe and assign it to the variable, `high_school_name`.

In [3]:
high_school_name = None

In [16]:
high_school_name[:2]

# 0    HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
# 1              UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
# Name: name, dtype: object

0    HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1              UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
Name: name, dtype: object

Ok, now let's practice selecting multiple columns from a dataframe.  Let's select the columns related mainly to the SAT score.  So let's select the `num_test_takers, reading_avg, math_avg,` `writing_score` columns.  Assign them to the variable `sat_df`.

In [5]:
sat_df = None

In [20]:
sat_df[:3]

# 	reading_avg	math_avg	writing_score
# 0	355.0	404.0	363.0
# 1	383.0	423.0	366.0
# 2	377.0	402.0	370.0

   reading_avg  math_avg  writing_score
0        355.0     404.0          363.0
1        383.0     423.0          366.0
2        377.0     402.0          370.0

### Summary

Great job.  In this lesson we've gotten some practice selecting data from a pandas dataframe.  As we've seen, this is important to specify what features to feed into our machine learning model, and also selecting our target column.